[Desktop Entry]
Encoding=UTF-8
Name=NEF
Comment=NEF P2P Cryptocurrency
Comment[fr]=NEF, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NEF, eşten eşe kriptografik sanal para birimi
Exec=nef-qt %u
Terminal=false
Type=Application
Icon=nef128
MimeType=x-scheme-handler/nef;
Categories=Office;Finance;
