# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

aclocal.m4
background.tiff*
config.log
config.status
configure
libtool
Makefile
Makefile.in
autom4te.cache/
.deps/
.dirstamp
*.moc
*.dmg
.DS_Store

qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
share/setup.nsi
share/qt/Info.plist
src/qt/qrc_nef.cpp
src/qt/nef-qt
src/qt/nef.moc
src/qt/moc_*
src/qt/forms/ui_*
src/qt/locale/*.qm
src/test/buildenv.py
src/config

build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4