[Unit]
Description=NEF's distributed currency daemon
After=network.target

[Service]
User=nef
Group=nef

Type=forking
PIDFile=/var/lib/nefd/nefd.pid

ExecStart=/usr/bin/nefd -daemon -pid=/var/lib/nefd/nefd.pid \
          -conf=/etc/nef/nef.conf -datadir=/var/lib/nefd

ExecStop=-/usr/bin/nef-cli -conf=/etc/nef/nef.conf \
         -datadir=/var/lib/nefd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
